[Unit]
Description=Refresh IMDB data for rateflix-server
Requires=rateflix-server.service

[Service]
Type=oneshot
ExecStart=systemctl reload rateflix-server
