#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	dune clean || true

override_dh_auto_build:
	dune build --profile=release server/rateflix_server.exe
	cp -f _build/default/server/rateflix_server.exe rateflix-server

override_dh_auto_install:
	install -D -m 0755 rateflix-server debian/rateflix-server/usr/bin/rateflix-server
	install -D -m 0755 debian/rateflix-server.fetch-data debian/rateflix-server/usr/lib/rateflix-server/fetch-data
	install -D -m 0644 debian/rateflix-server.cron.d debian/rateflix-server/usr/share/rateflix-server/rateflix-server.cron
	install -D -m 0644 debian/rateflix-server.nginx.conf debian/rateflix-server/usr/share/doc/rateflix-server/examples/nginx-rateflix.conf
	install -d debian/rateflix-server/var/lib/rateflix-server

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_test:
